input[type=file] {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}
/*.ui.header .sub.header, .ui.small.header .sub.header{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/